{% extends "base.html" %}
{% block title %} Collection {% endblock %}
{% block head %}
    <link href="/static/css/collection.css" rel="stylesheet"> {% endblock %}
{% block content %}
    <main class="container">
        <h1 class="text-center">Collection</h1>
        <div class="container">
            <div class="row p-2">
                <div class="col">
                    <label class="form-label" for="sort-param">Sort by</label>
                    <select class="form-control" onchange="card_list_sort()" id="sort-param">
                        <option selected>any</option>
                        <option>name</option>
                        <option>atk</option>
                        <option>def</option>
                        <option>level</option>
                        <option>scale</option>
                        <option>link_val</option>
                    </select>
                </div>
                <div class="col">
                    <label class="form-label" for="sort-order">Order</label>
                    <select class="form-control" onchange="card_list_sort()" id="sort-order">
                        <option selected>asc</option>
                        <option>des</option>
                    </select>
                </div>
                <div class="col">
                    <label class="form-label" for="filter-name">Name</label>
                    <input class="form-control" type="text" onchange="card_list_filter()" id="filter-name" placeholder="Blue-Eyes White Dragon">
                </div>
            </div>
            <div class="row" id="card-list">
                {% for c in cards %}
                    <div class="col-md-2 m-0 p-0 filterable show" id="{{ c['card_cod'] }}">
                        <img src="https://storage.googleapis.com/ygoprodeck.com/pics/{{ c['cod_img'] }}.jpg" alt=""
                             class="img-fluid">
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
{% block script %}
    <script>
        const card_list = document.getElementById('card-list');
        const card_values = JSON.parse('{{ cards_json|tojson|safe }}');
        
        function hide(element) {
            element.classList.remove("show");
        }
        
        function show(element) {
            element.classList.add("show");
        }
        
        function card_list_filter() {
            const name = document.getElementById('filter-name').value
            console.log(name)
            
            let toFilter = card_list.children;
            toFilter = Array.prototype.slice.call(toFilter, 0);
            
            toFilter.forEach(function (v) {
                let card = card_values[v.id];
                if (name !== "" && !card['name'].includes(name)) hide(v);
                else show(v);
            });
        }
        
        function card_list_sort() {
            const sort_param = document.getElementById('sort-param');
            const key = sort_param.options[sort_param.selectedIndex].text;
            if (key === "any") return;
            
            const sort_order = document.getElementById('sort-order');
            const ord = sort_order.options[sort_order.selectedIndex].text;
            
            const card_list = document.getElementById('card-list');
            let toSort = card_list.children;
            toSort = Array.prototype.slice.call(toSort, 0);

            toSort.sort(function (a, b) {
                let va = card_values[a.id][key];
                let vb = card_values[b.id][key];
                if (va == null && vb == null) return -1;
                if (va == null) return 1;
                if (vb == null) return -1;
                return (ord === "asc"? 1:-1) * (va <= vb? -1:1);
            });

            card_list.innerHTML = "";
            for (let i = 0, l = toSort.length; i < l; i++) {
                card_list.appendChild(toSort[i]);
            }
        }
    </script>
{% endblock %}