{% extends "base.html" %}
{% block title %} Collection {% endblock %}
{% block head %}
    <link href="/static/css/collection.css" rel="stylesheet"> {% endblock %}
{% block content %}
    <main class="container min-vh-100">
        <h1 class="text-center">Collection</h1>
        <div class="container">
            <div class="row p-2">
                <div class="col">
                    <label class="form-label" for="sort-param">Sort by</label>
                    <select class="form-control" onchange="update_card_list()" id="sort-param">
                        <option selected>any</option>
                        <option>name</option>
                        <option>atk</option>
                        <option>def</option>
                        <option>level</option>
                        <option>scale</option>
                        <option>link_val</option>
                    </select>
                </div>
                <div class="col">
                    <label class="form-label" for="sort-order">Order</label>
                    <select class="form-control" onchange="frontend_card_list_sort()" id="sort-order">
                        <option selected>asc</option>
                        <option>des</option>
                    </select>
                </div>
                <div class="col">
                    <label class="form-label" for="filter-name">Name</label>
                    <input class="form-control" type="text" onchange="frontend_card_list_filter()" id="filter-name" placeholder="Blue-Eyes White Dragon">
                </div>
            </div>
            <div class="row" id="card-list">
                {% for c in cards %}
                    <div class="col-md-2 m-0 p-0{% if loop.index > 30 %}{{ ' hide' }}{% endif %}" id="{{ c['card_cod'] }}">
                        <a href="https://db.ygoprodeck.com/card/?search={{ c['card_cod'] }}">
                            <img src="{{ url_for("static", filename="img/card_images/%s.jpg" % c['cod_img']) }}" alt="" 
                                 class="img-fluid" loading="lazy">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for("static", filename="js/path_reader.js") }}"></script>
    <script src="{{ url_for("static", filename="js/card_list.js") }}"></script>
{% endblock %}