{% extends "base.html" %}
{% block title %} DeckBuilder {% endblock %}
{% block head %}
    <link href="/static/css/deck_builder.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <main class="container-fluid">
        <h1 class="text-center">Deck Builder</h1>
        <div class="container-fluid row p-2 d-flex justify-content-center">
            <div class="col-3 text-center">
                <img src="https://storage.googleapis.com/ygoprodeck.com/pics/7089711.jpg"
                     alt="" class="img-fluid" draggable="false" id="display">
            </div>
            <div class="col-6">
                <div class="row mt-1">
                    <div class="col">
                        <h5> Main Deck</h5>
                    </div>
                    <div class="col text-end">
                        <button type="button" class="btn btn-outline-light btn-sm" onclick="deck_download()">Export
                        </button>
                    </div>
                </div>
                <div class="row deck main-deck" id="main" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                    {#<div class="col-card m-0 p-1">#}
                </div>
                <div class="row mt-1">
                    <h5>Extra Deck</h5>
                </div>
                <div class="row deck extra-deck" id="extra" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                </div>
                <div class="row mt-1">
                    <h5>Side Deck</h5>
                </div>
                <div class="row deck side-deck" id="side" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                </div>
            </div>
            <div class="col-3"> {# Right #}
                {# Forms #}
                <div class="row p-2">
                    <div class="col">
                        <label class="form-label" for="sort-param">Sort by</label>
                        <select class="form-control" onchange="card_list_sort()" id="sort-param">
                            <option selected>any</option>
                            <option>name</option>
                            <option>atk</option>
                            <option>def</option>
                            <option>level</option>
                            <option>scale</option>
                            <option>link_val</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label" for="sort-order">Order</label>
                        <select class="form-control" onchange="card_list_sort()" id="sort-order">
                            <option selected>asc</option>
                            <option>des</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label" for="filter-name">Name</label>
                        <input class="form-control" type="text" onchange="card_list_filter()" id="filter-name"
                               placeholder="Blue-Eyes White Dragon">
                    </div>
                </div>
                {# Collection #}
                <div style="height: 1000px;" class="row overflow-auto m-1 box" id="card-list" ondragover="onDragOver(event);"
                     ondrop="onDrop(event);">
                    {% for c in cards %}
                        <div style="margin-left: 0;" class="row p-0 box" id="{{ c['card_cod'] }}">
                            <div class="col-3 m-0 p-0">
                                <img src="https://storage.googleapis.com/ygoprodeck.com/pics/{{ c['cod_img'] }}.jpg"
                                     alt="" class="img-fluid" draggable="true" ondragstart="onDragStart(event);"
                                     onmouseover="display_update(this.id);" id="card-list_{{ c['card_cod'] }}">
                            </div>
                            <div class="col-9 text-center align-middle">
                                <a href="https://db.ygoprodeck.com/card/?search={{ c['card_cod'] }}" target="_blank">
                                    <h6>{{ c['name'] }}</h6>
                                </a>
                                <p class="text-sm">
                                    {{ c['type'] }}
                                    {% if c['level'] %}L{{ c['level'] }}{% endif %}
                                    {% if c['scale'] %}S{{ c['scale'] }}{% endif %}
                                    {% if c['link_val'] %}Link{{ c['link_val'] }}{% endif %}
                                    <br>
                                    {{ c['race'] if c['race'] }}/{{ c['attribute'] if c['attribute'] }}
                                    <br>
                                    {{ c['quantity'] }} in collection
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block script %}
    <script>
        const card_values = JSON.parse('{{ cards_json|tojson|safe }}');
    </script>
    <script src="{{ url_for("static", filename="js/card_sort.js") }}"></script>
    <script src="{{ url_for("static", filename="js/card_filter.js") }}"></script>
    <script src="{{ url_for("static", filename="js/text_download.js") }}"></script>
    <script src="{{ url_for("static", filename="js/deck_builder.js") }}"></script>
    <script src="{{ url_for("static", filename="js/deck_builder_drag_drop.js") }}"></script>
{% endblock %}